name: PR Workflow

on:
  pull_request:
    paths:
      - '**'
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write
  packages: read

jobs:
  run-tests:
    uses: ./.github/workflows/reusable-test.yml
    secrets: inherit
